.sohan{
    display: flex;
}

.img{
    background-size: cover;
    width: 100%;
    margin-top: 1rem;
}

.img-container{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    margin-right: 1rem;
}

.intro{
    width: 50%;
    display: flex;
    margin-left: 4rem;
   
   
}

@media (max-width: 900px) {

    html{
        font-size: 12px;
    }
}


@media (max-width: 650px) {

    html{
        font-size: 13px;
    }

     .sohan{
        flex-direction:column-reverse;
        justify-content: start;
        width: 90%;
        align-items: center;
        padding-top: 5rem;
     }

     .img{
        width: 100%;
        height: 100$;
        border-radius: 50%;
       
     }

     .img-container{
        margin-bottom: 0rem;
     }

     .intro{
        width: 100%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0.5rem;
        margin-bottom: 5rem;
        padding-left: 1rem;
     }

     .hand{
        margin-left: 0.7rem;
     }

   
     
}


@media (max-width: 385px) {
    
     .hand{
         position:relative;
         right:6rem;
     }

}

/* STYLING FOR ANIMATION */

.animate {
  animation: slideInLeft 0.8s ease-out forwards;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate2 {
  animation: slideInLeft2 0.8s ease-out forwards;
}

@keyframes slideInLeft2 {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}